{% load staticfiles %}
<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Indie+Flower|Just+Me+Again+Down+Here|Waiting+for+the+Sunrise" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Coming+Soon|EB+Garamond|Josefin+Sans|Open+Sans+Condensed:300|Poiret+One|Spectral" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Arvo|Roboto+Mono|Slabo+27px" rel="stylesheet">
<link rel='shortcut icon' type='image/x-icon' href='http://www.pngmart.com/files/4/Calvin-And-Hobbes-PNG-Transparent-Image.png' />
<link href="https://fonts.googleapis.com/css?family=Coming+Soon|EB+Garamond|Josefin+Sans|Open+Sans+Condensed:300|Poiret+One|Spectral" rel="stylesheet">
<link rel= "stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
<script src="index.js"></script>

<script src="{% static 'javascript/portfolio.js' %}"></script>
<html>

<h1> Coding with:
  <spank
     class="txt-rotate"
     data-period="1000"
     data-rotate='["Python", "HTML", "CSS", "Swift", "C", "Objective-C"]'></span>
</h1>

  <h3 id = "codingex"> Coding Experience</h3>
        <p id= "experience">Summer Coding Immersion, GWC Microsoft 2017<br>
        SAYA Coding Program, Founder & Teaching Assistant - Summer 2016<br>
        iOS Application Development, Oxbridge Summer Academy - Summer 2015 <br>
Introduction to Web Design, Flatiron Programming Institute - Summer 2015 <br></p>
<h3 id = "knowledge">Languages</h2>
      <p id = "info"> Python<br> HTML<br> CSS<br> Swift<br> C, Objective-C<br> DJANGO Webframeworks<br> Microsoft Office: Word, Excel, PowerPoint
          </p>
  <div2></div2>
  <a id="home" href="http://127.0.0.1:8000/portfolio/">Home</a></p2>
</html>
