{% load staticfiles %}
<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Indie+Flower|Just+Me+Again+Down+Here|Waiting+for+the+Sunrise" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Coming+Soon|EB+Garamond|Josefin+Sans|Open+Sans+Condensed:300|Poiret+One|Spectral" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arvo|Slabo+27px" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arvo|Roboto+Mono|Slabo+27px" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Arvo|Roboto+Mono|Slabo+27px" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Arvo|Kalam|Roboto+Mono|Slabo+27px" rel="stylesheet">
<html>
  <head>
    <title>Avni Ahuja - Portfolio</title>
<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="icon" type="image/x-icon" />
<link rel='shortcut icon' type='image/x-icon' href='http://www.pngmart.com/files/4/Calvin-And-Hobbes-PNG-Transparent-Image.png' />
<h1>Avni
  <spank
     class="txt-rotate"
     data-period="1000"
     data-rotate='[ "loves food.", "plays squash.", "plays piano.", "codes.", "writes." ]'></span>
</h1>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link rel= "stylesheet" href="{% static 'css/style.css' %}">
    <link rel= "stylesheet" href= "{% static 'javascript/portfolio.js' %}">
    <!-- <link rel= "stylesheet" href= "{% static 'css/portfolio.css' %}"> -->

  </head>
  <body>
  <script src="{% static 'javascript/portfolio.js' %}"></script>
    <script src="portfolio.js"></script>

    <p2>
<a id = "coding", href="http://127.0.0.1:8000/coding/">Coding</a2>
<a href="http://127.0.0.1:8000/extracurriculars/">Extracurriculars</a>
<a href="http://www.foodieinnyc.com/">Foodie in NYC</a>
<a href="https://www.youtube.com/watch?v=h_5wHguEIW8">Piano</a>
<a href='http://127.0.0.1:8000/'>Blog</a>
</p2>

<div id= "quote"class="w3-panel w3-light-grey">
  <span style="font-size:120px;line-height:0.6em;opacity:0">&#10077;</span>
  <p2 class="w3-xlarge" style="margin-top:-40px">
  <i>
"Calvin: There's never enough time to do all the nothing you want."</i></p2>
  <p2 id= "author"><br>― Bill Watterson, Calvin and Hobbes</p2>
</div>
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2 id = "gwc">GWC: Microsoft 2017</h2>
<a id ="socialmed" href="https://www.facebook.com/profile.php?id=100004312578450&ref=br_rs" class="fa fa-facebook"></a>
<a id ="socialmed" href="https://www.instagram.com/avniahuja_/?hl=en" class="fa fa-instagram"></a>
<a id ="socialmed" href="https://mail.google.com/mail/u/0/#inbox" class="fa fa-google"></a>


  </body>
