{% load staticfiles %}
<html>
  <head>
    <title> Avni Ahuja - Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|BenchNine" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Indie+Flower|Just+Me+Again+Down+Here|Waiting+for+the+Sunrise" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|EB+Garamond|Josefin+Sans|Open+Sans+Condensed:300|Poiret+One|Spectral" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Roboto+Mono|Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Arvo|Roboto+Mono|Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Arvo|Kalam|Roboto+Mono|Slabo+27px" rel="stylesheet">
    <!-- <link rel= "stylesheet" href="{% static 'css/style.css' %}"> -->
    <link rel= "stylesheet" href= "{% static 'css/portfolio.css' %}">
    <link rel='shortcut icon' type='image/x-icon' href='http://www.pngmart.com/files/4/Calvin-And-Hobbes-PNG-Transparent-Image.png' />

    <script src="{% static 'javascript/portfolio.js' %}"></script>
  </head>
  <a id = "toport"href="http://127.0.0.1:8000/portfolio/">Back to Portfolio</a>
  <a id = "topost"href= "http://127.0.0.1:8000/admin/blog/post/">Edit or Create a Post</a>

<div>
    <h1 id = "blogwelcome">Welcome to Avni's Blog! </h1>
</div>

{% for post in posts %}
    <div>
        <p id="datepublished">published: {{ post.published_date }}</p>
        <h1 id="posttitle"><a href="">{{ post.title }}</a></h1>
        <p id="posttext">{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
